# Ignore everything
/*

# But not these files & folders
!.gitignore
!.browserslistrc
!README.md
!package.json
!angular.json
!tsconfig.json
!tsconfig.spec.json
!tsconfig.app.json
!src/
!dist/
!karma.conf.js
# Local Netlify folder
.netlify
